 .u-section-1 {
  min-height: 826px;
}

.u-section-1 .u-image-1 {
  min-height: 719px;
  height: auto;
  margin-top: 240px;
  margin-bottom: 0;
  background-image: url("images/image2.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-group-2 {
  width: 408px;
  min-height: 205px;
  height: auto;
  margin: 257px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: -166px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}